<div class="row">
  <div class="col-auto">
    <h2>Personalized schedule for {{name}}!</h2>
  </div>
</div>
<div class="class-card box block is-medium">
  <div class="class-card-header">
    {{activity_name}}
  </div>
  <div class="class-card box block is-medium">
    <div class="class-card-header">
      {{day1}}
      {{day2}}
      {{day3}}
      {{day4}}
      {{day5}}
    </div>


    <div class="form-group">
      <a href="/member-interest">
        <button class="btn btn-primary" type="submit" href="/member-interest" >Update your activity</button>
      </a>
    </div>

   